doctype html
include ./_bemto.jade

html(lang="ru")
  head
    title Название Сайта
    meta(charset="utf-8")
    meta(name="description" content="Описание")
    meta(name="keywords" content="ключевые слова")
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
  body(ng-app="App")
    +b.header
      .layout

    +b.content
      +e.layout

    +b.footer
      +e.layout
        +e('a').logo(href="#")
