*
  -webkit-tap-highlight-color transparent
  outline none

html,
body
  height 100%
  margin 0
  padding 0

body
  background #f4f2f2

  // &::before
  //   content ' '
  //   position absolute
  //   top 0
  //   left 0
  //   display block
  //   height 3885px
  //   width 1600px
  //   background-image-retina './images/main.png'
  //   opacity .25
  //   pointer-events none


.layout
  width 1080px
  margin 0 auto

