| <?php
| $this->title = $_SERVER['APP_TITLE'];
| ?>
include ./../_bemto.jade

.site-index

  .jumbotron
    h1 Congratulations!

      p.lead You have successfully created your Pug-templated application.


  .body-content
    +b.block shafj
      +e.element eee
